*CMakeCache.txt
*CMakeFiles/
*CTestTestfile.cmake
*Makefile
*Testing/
*cmake_install.cmake
lib/File.c
lib/configuration.c
lib/freighter.c
lib/gemini.h
lib/gemini.vapi
lib/hauler.c
lib/layout-fullscreen.c
lib/layout-tile.c
lib/layout.c
lib/libgemini.so
lib/terminal.c
src/gemini-terminal
src/gemini-terminal.c
tests/test-copy
tests/test-copy.c
tests/test-freighter
tests/test-freighter.c
tests/test-hauler
tests/test-hauler.c
tests/test-layout-fullscreen
tests/test-layout-fullscreen.c
tests/test-layout-tile
tests/test-layout-tile.c
tests/test-terminal
tests/test-terminal.c
tests/test-test-copy
tests/test-test-freighter
tests/test-test-hauler
tests/test-test-layout-fullscreen
tests/test-test-layout-tile
tests/test-test-terminal
