Source: gemini
Section: unknown
Priority: extra
Maintainer: Thijs Vermeir <thijsvermeir@gmail.com>
Build-Depends: debhelper (>= 5), python
Standards-Version: 3.7.2

Package: gemini
Architecture: any
Depends: libgee0, libvte9
Description: The gemini terminal freighter
 The gemini terminal freighter
