[Desktop Entry]
Encoding=UTF-8
Name=Gemini Terminal
TryExec=gemini
Exec=gemini
Icon=gemini
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;
